apiVersion: v1
kind: Service
metadata:
  name: {{ include "k8flex.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "k8flex.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.name }}
      protocol: TCP
      name: {{ .Values.service.name }}
  selector:
    {{- include "k8flex.selectorLabels" . | nindent 4 }}
